<div>
    <% phrases.each do |phrase|%>
      <div class="mb-3">
        <div>
          <%= link_to phrase.user.name, user_path(phrase.user)%>
        </div>
        <% if phrase.user.avatar? %>
          <%= image_tag phrase.user.avatar.url , :size => '50x50' %>
        <% end %>
      </div>
      <div>
        <ul style="list-style: none;">
          <li><span>《歌手》</span><p class="mgl"><%= phrase.singer %></p></li>
          <li><span>《タイトル》</span><p class="mgl"><%= phrase.title %></p></li>
          <li><span>《この歌詞が好き！》</span><p class="mgl"><%= phrase.lyric %></p></li>
          <li><span>《一言コメント》</span><p class="mgl"><%= phrase.comment %></p></li>
        </ul>
      </div>
    <% end %>
    <%= paginate phrases %>
</div>