<div class="row">
  <aside class="col-md-4 mb-2">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
          <% if @user.avatar? %>
            <p class="avatar">
              <%= image_tag @user.avatar.url, :size => "80%×80%" %>
            </p>
          <% end %>
      </div>
    </div>
       <%= render 'relationships/follow_button', user: @user %>
  </aside>
  <div class="col-md-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">投稿 <span class="badge badge-secondary"><%= @count_phrases %></span></a></li>
      <li class="nav-item"><a href="<%= followings_user_path %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー<span class="badge badge-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー<span class="badge badge-secondary"><%= @count_followers %></span></a></li>
      <li class="nav-item"><a href="<%= likes_user_path %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">いいね<span class="badge badge-secondary"><%= @count_likes %></span></a></li>

    </ul>
    <%= render 'phrases/phrases', phrases: @phrases %>
  </div>
</div>